@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Space Grotesk', sans-serif;
    --font-heading: 'Space Grotesk', sans-serif;

    --color-ppblue-50: #f8fafc;
    --color-ppblue-100: #f1f5f9;
    --color-ppblue-500: #3b82f6;
    --color-ppblue-600: #1e3a8a;
    --color-ppblue-700: #1e3a8a;
    --color-ppblue-800: #172554;
    --color-ppblue-900: #0f172a;

    --color-accent: #ea580c;
    --color-ppyellow: #f59e0b;
    --color-gold: #ca8a04;
}
